body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.stars input {
  display: none;
}

.stars label {
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

.stars input:checked ~ label {
  color: gold;
}
